<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 在 AndroidManifest.xml 文件的 <manifest> 标签内添加以下权限 -->

    <!-- 写入外部存储权限 (Android 10 以下需要) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- 读取外部存储权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Android 10+ 的存储权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>
    <application
        android:allowBackup="true"
        android:name=".App"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrawingBoard"
        tools:targetApi="31"
        android:requestLegacyExternalStorage="true"
        tools:ignore="SelectedPhotoAccess">
        <activity
            android:name=".GuideActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />

            </intent-filter>
        </activity>

        <activity android:name=".BoardVerticalActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:exported="true">
        </activity>
        <activity android:name=".BoardLandscapeActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:exported="true">
        </activity>

        <activity android:name=".GalleryActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:exported="true">
        </activity>
        <activity
            android:name=".detail.DrawingDetailActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mirror.MirrorActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PoplActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DialogActivity"
            android:theme="@style/TranBottomDialog"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>